<launch>
	<include file="$(find match_gazebo)/launch/match_world_common.launch">
		 <arg name="world_name" default="big_square"/>
	</include>
	
  <arg name="robot1_name"  default="mir1"/>

  <arg name="robot2_name"  default="mir2"/>

  
  <include file="$(find mir_launch_sim)/launch/mir_200.launch" ns="$(arg robot1_name)" pass_all_args="true">
      <arg name="robot_x"     default="0.0" />
      <arg name="robot_y"     default="0.0" />
      <arg name="robot_yaw"   default="1.57" /> 
      <arg name="tf_prefix"   default="$(arg robot1_name)" />       
      <arg name="model_name"  default="$(arg robot1_name)"/>
  </include>
    
  <include file="$(find mir_launch_sim)/launch/mir_200.launch" ns="$(arg robot2_name)" pass_all_args="true">
      <arg name="robot_x"     default="1.0" />
      <arg name="robot_y"     default="0.0" />
      <arg name="robot_yaw"   default="1.57" /> 
      <arg name="tf_prefix"   default="$(arg robot2_name)" />       
      <arg name="model_name"  default="$(arg robot2_name)"/>
  </include>


</launch>

